!requirements.txt
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*.xml
*~
.tags
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
package-lock.json
report.xml
